body {
  margin: 0;
  text-align: center;
}

h1 {
  font-family: "Sacramento", cursive;
}

p {
  font-family: "Inter", sans-serif;
}

.top_container {
  background-color: #e4f9f5;
  position: relative;
  padding-top: 100px;
}

.top_cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom_cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}
