.top_container {
  background-color: #e4f9f5;
  width: 200px;
  height: 200px;
  position: absolute;
  left: 200px;
}

.middle_container {
  background-color: red;
  width: 200px;
  height: 200px;
  position: absolute;
  left: 600px;
}

.bottom_container {
  background-color: blue;
  width: 200px;
  height: 200px;
  position: absolute;
  left: 400px;
}
